{
  "url": "{{{api.homepage}}}",
  "name": "{{{api.name}}}",
  "version": "{{{api.semantic_version}}}",
  "author": "Google Inc.",
  "description": "{{{api.titlename}}} library for Node.js",
  "main": "src/index.js",
  "files": [
    "src"
  ],
  "dependencies": {
    "google-proto-files": "^{{{dependencies.googleapis_common_protos.nodejs.version}}}",
    "google-gax": "^{{{dependencies.gax.nodejs.version}}}",
    "extend": "^{{{dependencies.nodeModules.extend.version}}}"{{^singleFile}},
    "lodash.union": "^{{{dependencies.nodeModules.lodash.version}}}",{{/singleFile}}
  },
  "license": "{{{api.license}}}",
  "engines": {
    "node": ">=0.12.0"
  }
}
